<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">Guru5798@</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_association</property>
        <property name="hibernate.connection.username">root</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <mapping class= "com.prowings.Unidirectional.OneToOne.Person"/>
        <mapping class= "com.prowings.Unidirectional.OneToOne.Passport"/>
        
        <mapping class="com.prowings.Unidirectional.OneToMany.Company"/>
        <mapping class="com.prowings.Unidirectional.OneToMany.Employee"/>
        
        <mapping class="com.prowings.Unidirectional.ManyToOne.Student"/>
        <mapping class="com.prowings.Unidirectional.ManyToOne.Department"/>
        
        <mapping class="com.prowings.Unidirectional.ManyToMany.Author"/>
        <mapping class="com.prowings.Unidirectional.ManyToMany.Book"/>
        
        <mapping class="com.prowings.Bidirectional.OneToMany.Parent"/>
        <mapping class="com.prowings.Bidirectional.OneToMany.Child"/>
        
    </session-factory>
</hibernate-configuration>
